/* ============================================= */
/*              Searchbar                        */
/* ============================================= */
#search {
    margin-top: 30px;
    width: 47%;
    padding: 10px;
    border: 2px solid rgb(197, 197, 197);
    border-radius: 5px;
    &::placeholder {
        font-size: 1em;
        text-align: left;
        padding-left: 1px;
        color: rgb(165, 165, 165);
    }
    &:focus {
        outline-color: rgb(99, 99, 99);
    }

}