$title1: "Hay Bale";
$title2: "Lake";
$title3: "Canyon";
$title4: "Iceberg";
$title5: "Desert";
$title6: "Fall";
$title7: "Plantation";
$title8: "Dunes";
$title9: "Countryside Lane";
$title10: "Sunset";
$title11: "Cave";
$title12: "Bluebells";

$base-colour: #eef4f7;
$font-colour: #444;